@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

h1, h2, h3, h4, h5, h6{
font-family: "Unbounded", serif;
}
p{
font-family: "Unbounded", serif;
}

header, footer {
  background-color: #8870ff;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: #8870ff;
}
