<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartBot</title>
</head>
<body>
    <!-- Заголовок сайта -->
    <header>
        <a href="/"><img src="logo.png" alt="Логотип компании"></a>
    </header>
    
    <!-- Основной контент -->
    <main>
        <h1>Приветствуем вас на нашем сайте!</h1>
        <p>Пользуйтесь с удовольствием</p>
    </main>
    
    <!-- Подвал сайта -->
    <footer>
        <p>&copy; 2025 ne1zy corp</p>
    </footer>
</body>
</html>
